@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.about-container .service-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.about-container h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 40px;
    position: relative;
    color: #0e0e49;
}

.about-container .service {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-container .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
}

.about-container .card {
    position: relative; /* Add relative positioning to the card */
    cursor: pointer;
    background-color: #f0b30e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 0.2px solid #10105a;
    width: 80%;
    text-align: center;
}

.about-container .card:hover {
    transform: translateY(-10px);
}

.about-container .card h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #0e0e49;
}

.about-container .card .hidden {
    position: absolute; /* Position the hidden content absolutely */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f0b30e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 0.2px solid #10105a;
    opacity: 0; /* Initially hide the paragraph */
    transition: opacity 0.3s ease; /* Add transition for smooth effect */
}

.about-container .card:hover .hidden {
    opacity: 1; /* Show the paragraph when hovering */
}

.about-container .card i {
    color: #0e0e49;
    margin-bottom: 20px;
    font-size: 4.8rem;
}

@media only screen and (max-width: 1200px) {
    .cards {
        justify-content: flex-start;
    }
}

@media only screen and (max-width: 768px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }
}
