@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  margin: 0;
  padding: 0;

}

.navBar {
    border-bottom: 1px solid;
    background-color: white;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10;
    top: 0px;
    position: fixed;
    z-index: 10;

}

.ember-logo .Logo-Hl img {
    height: 80px;
    width: 80px;
    display: flex;
    position: relative;
    z-index: 2;

}

.navBar ul{
    list-style: none;
    display: flex;

}

.navBar ul li {
    padding: 10px 60px; 
    position: relative;

}

.navBar ul li i {
    margin: -29px 80px;
    position: absolute;

}

.navBar ul li a {
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 16px;


}

.navBar ul li::after {
    content:'';

}


